@import "../../App.scss";

.elements{
    background-color: #FFF;
    max-width: 85%;
    padding: 24px;
    padding-bottom: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px;

    .elements-header{
        font-size: 19px;
        color: $blue;
        font-weight: 700;
    }
    .elements-control{
        padding: 16px;
        margin-top: 24px;
        background: #F4F6F8;
    }
    .elements-control__search img:nth-child(2){
        margin-left: 16px;
    }

    .elements-content{
        height: 444px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
