@import "../../App.scss";

.layout{
    height: 100vh;

    .layout-content{
        // background-color: cadetblue;
        background-color: #F6F7F9;
        width: 100%;
        overflow: hidden;
        height: 100vh
    }
    .layout-content__display{
        padding-left: 48px;
        padding-top: 10px;
    }

    /* bread crumbs*/
    .breadcrumbs > *{
        display: inline-block;
        margin-right: 10px;
    }
    .breadcrumbs .crumb::after{
        content: '>';
        margin-left: 10px;
        color: $blue;
    }
    .breadcrumbs .crumb:last-child::after{
        display: none;
    }
    .breadcrumbs .crumb a{
        color: $blue;
        text-transform: capitalize;
        font-weight: 600;
    }
}

.sidebar{
  width: 302px;
  padding: 20px 16px 16px 16px;
  height: 100vh;
  flex-shrink: 0;
  max-height: 100vh;
}
.sidebar__item-1{
    gap: 16px;
    margin: 24px 0 40px 0;
    color: $blue;
}
.sidebar__item-1-content p:first-child{
    margin-bottom: 4px;
}
.sidebar__item-1-content p:nth-child(2){
    font-weight: 600;
}
.sidebar__item-1-caret{
    margin-left: 16px;
}
.sidebar__section-1{
    border-bottom: 1px solid rgba(149, 159, 183, 0.2);
    padding-bottom: 40px;
}
.sidebar__section-2{
    padding-top: 40px;
}
.content{
    gap: 16px;
}
.sidebar__item-2 {
    gap: 24px;
    color: $blue;
    font-weight: 500;
}

/* top bar styles */
.top-bar {
    padding: 20px 16px 20px 20px;
    border-bottom: 1px solid #E7E7E7;

    .top-bar__home{
        margin-right: 40px;
    }
    
    .top-bar__profile{
        margin-left: auto;
        
        .notification{
            margin-right: 50px;
        }
        .avatar{
            gap: 20px;

            p:first-child{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 2px;
                color: $blue;
            }
            p:nth-child(2){
                font-weight: 400;
                color: #818DA9;
            }
        }
    }
}
.top-bar__home{
    background: #F6F7F9;
    border-radius: 4px;
    padding: 8px;
    gap: 16px;
    color: $blue;

    p:first-child{
        font-size: 14px;
        margin-bottom: 4px;
    }
    p:nth-child(2){
        font-weight: 700;
    }
}

.b-banner{
    color: #FFF;
    padding: 20px 39px 20px 43px;
    background-color: $blue;
    position: fixed;
    bottom: 0;
    width: 100%;
}