@import "../../App.scss";

.top-bar__input{
    width: 354px;
    // padding: 19px 0 19px 23px;
    padding-left: 23px;
    border-radius: 5px;
    border: 1px solid #DFDFDF;
}
.top-bar__input input {
    flex: 1;
    color: #57678C;
    background-color: transparent;
    border: transparent;
    outline: 0;
    padding: 0;
    outline: 0;
    border: transparent;
}
.top-bar__input button{
    background-color: #4BAA79;
    border: none;
    outline: none;
    // padding: 14px 15px 14px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-input, .custom-select, .custom-textarea{
    margin-bottom: 12px;

    label{
        font-size: 14px;
        color: #818DA9;
        display: block;
        margin-bottom: 8px;
    }
    input, textarea{
        width: 100%;
        color: $blue;
        padding: 16px;
        font-weight: 400;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
    }
    input:focus, textarea:focus{
        border-color: $green;
        outline: none ;
    }
    
    .relative{
        position: relative;
    }
}