$blue: #2D416F;
$green: #4BAA79;

.mr-4{
    margin-right: 16px;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}